* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
  background-color: #0081a7;
}

.start {
  background-color: #0081a7;
  transition: background-color 0.5s ease-in-out 0s;
}
.break {
  background-color: #00a3ac;
  transition: background-color 0.5s ease-in-out 0s;
}

#header {
  color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header img {
  margin-right: 5px;
}

.line {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-bottom: 40px;
}

.main-container {
  width: 50%;
  margin: 0 auto;
}

.main-countdown {
  margin: 0 auto;
  max-width: 500px;
}

.time-frame {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 20px 0 30px;
  margin-bottom: 20px;
}
.time-tab button {
  padding: 5px 25px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.time-tab.active {
  background: none rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.time-pattern {
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-start {
  cursor: pointer;
  color: #0081a7;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  background-color: white;
  font-size: 22px;
  width: 200px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  transform: translateY(6px);
  transition: color 0.5s ease-in-out;
}
#btn-pause {
  cursor: pointer;
  color: #0081a7;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 22px;
  width: 200px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: none;
  transition: color 0.5s ease-in-out;
}

.resume {
  transform: translateY(6px);
  cursor: pointer;
  color: #00a3ac;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 22px;
  width: 200px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: none;
  transition: color 0.5s ease-in-out;
}

.time-working {
  font-size: 18px;
  font-weight: 100;
  color: white;
  overflow-wrap: break-word;
}

.todo-list {
  max-width: 500px;
  margin: 42px auto 42px;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
}

#input {
  max-width: 450px;
  min-width: 81%;
  border: none;
  background: none;
  height: 40px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.btnAdd {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.btnAdd:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 8px 10px 40px;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  transition: 0.2s;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 2px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: rgba(255, 255, 255, 0.4);
}
ul li.checked {
  color: rgba(255, 231, 231, 0.2);
  text-decoration: line-through;
}

ul li:last-child {
  border: none;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 4px 4px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  border-radius: 3px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 9px 16px;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
}
